{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Inventario FIFO</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table table-hover align-middle text-center">

            <thead class="table-dark">
                <tr>
                    <th>Producto</th>
                    <th>Lote</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Vencimiento</th>
                    <th>Disponible</th>
                </tr>
            </thead>

            <tbody>

                {% for item in datos %}
                <tr>

                    <td class="fw-bold">
                        {{ item.nombre }}
                    </td>

                    <td>
                        <span class="badge bg-info">
                            {{ item.numero_lote }}
                        </span>
                    </td>

                    <td>
                        {{ item.fecha_ingreso }}
                    </td>

                    <td>
                        {{ item.fecha_vencimiento }}
                    </td>

                    <td>

                        <span class="
                            badge

                            {% if item.cantidad_disponible < 10 %}
                                bg-warning text-dark
                            {% else %}
                                bg-success
                            {% endif %}
                        ">

                            {{ item.cantidad_disponible }}

                        </span>

                    </td>

                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
</div>

{% endblock %}