{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Inventario</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table table-hover align-middle text-center">

            <thead class="table-dark">
                <tr>
                    <th>Producto</th>
                    <th>Lotes (FIFO)</th>
                    <th>Stock Total</th>
                </tr>
            </thead>

            <tbody>
                {% for item in datos %}
                <tr>
                    <td class="fw-bold">{{ item.nombre }}</td>

                    <td>
                        <span class="badge bg-info">
                            {{ item.lotes }}
                        </span>
                    </td>

                    <td>
                        <span class="
                            badge 
                            {% if item.stock_total == 0 %}bg-danger
                            {% elif item.stock_total < 10 %}bg-warning text-dark
                            {% else %}bg-success
                            {% endif %}
                        ">
                            {{ item.stock_total }}
                        </span>
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}